@use '../../scss/' as *;

.modal {
    @include flex(center, center);

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba($color: $black-color, $alpha: 0.4);
}

.container {
    width: 50%;
    background-color: $body-background;
    padding: 56px 16px 16px;
    transition: transform 0.6s ease;
    position: relative;

    @include tablet {
        width: 80%;
    }

    @include mobile {
        width: 90%;
    }
}
