@use '../../scss/' as *;

.wrapper {
    @include flex(center, center);
    gap: 1rem;
}

.content {
    width: 40%;
    position: relative;

    .search-input {
        width: 100%;
        background-color: $black-color;
        padding: 1.2rem 3rem 1.2rem 1.2rem;
        font-size: 0.8rem;
        border-radius: $border-radius;
        color: $white-color;
        font-family: $font-family;

        @include tablet {
            padding-right: 3.6rem;
        }
    }

    @include tablet {
        width: 60%;
        font-size: 1.4rem;
    }

    @include mobile {
        width: 100%;
    }

    .icon {
        @include flex(center, center);

        position: absolute;
        top: 50%;
        right: 16px;
        transform: translate(0, -50%);
        color: #bbb;

        @include tablet {
            right: 12px;
        }

        @include mobile {
            right: 10px;
            width: 16px;
            height: 16px;
        }
    }
}
