$body-background: #0f0f0f;
$main-color: #ff0000;
$white-color: #fff;
$black-color: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 6rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 46.1875em; /* 739px */
$tablet-width: 63.9375em; /* 1023px */

$font-family: 'Monsterrat', sans-serif;
